@use "styles/variables.scss";

.box {
  color: #333;
  text-decoration: none;
  margin: 0px 5px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-clip: padding-box;

  &:hover {
    background-color: variables.$grey-hover-color;
    transition: 0.25s;
  }

  svg {
    margin-right: 5px;
  }
}
