@use "styles/variables.scss";

.projectBox {
  border: 1px #333 solid;
  border-radius: 9px;
  padding: 8px 10px;

  &:hover {
    background-color: variables.$grey-hover-color;
    transition: 0.25s;
    cursor: pointer;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 3px;
  }
}
